@charset "UTF-8";

div#tv-radio {
    width: 940px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#music {
    display: block;
    position: relative;
    left: 574px;
    top: 488px;
    width: 300px;
}

video#film {
    display: block;
    position: relative;
    left: 83px;
    top: 70px;
    width: 450px;
}